<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Documents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <!-- <ion-item>
      <a class="item" href="#">
        <ion-label>Documento 1</ion-label>
      </a>
    </ion-item>
    <ion-item>
      <a class="item" href="#">
        <ion-label>Documento 2</ion-label>
      </a>
    </ion-item> -->

    <ion-item class="item" lines="none" *ngFor="let file of files">
      <!-- <a href="#"> -->
      <div class="item__wrapper">

        <div class="item-title">
          <div class="title__wrapper">
            <div class="title">
              {{file.name}}
            </div>
          </div>
        </div>

        <div class="item-icon">
            <ion-icon name="download" size="large"></ion-icon>
        </div>

      </div>
      <!-- </a> -->
    </ion-item>

  </ion-list>

  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>
