<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="content">

  <div class="content__wrapper">

    <ion-card class="logo-card">
      <ion-img class="logo-img" src="/assets/img/logo.png"></ion-img>
    </ion-card>

    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="loginApi()">
    <!-- <form #form="ngForm" (ngSubmit)="login()"> -->
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="10" size-lg="8" size-xs="12">
            <div padding>
              <ion-item margin-bottom>
                <!-- <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input> -->
                <ion-input name="email" type="email" placeholder="E-mail" formControlName="email" required></ion-input>
              </ion-item>

              <p class="error-message" *ngIf="isSubmitted && formControls.email.errors">
                <ion-label class="message" *ngIf="formControls.email.errors.required">The e-mail is required</ion-label>
              </p>

              <ion-item>
                <ion-input name="password" type="password" placeholder="Password" formControlName="password" required></ion-input>
              </ion-item>

              <p class="error-message" *ngIf="isSubmitted && formControls.password.errors" padding-left>
                <ion-label class="message" *ngIf="formControls.password.errors.required" padding-left>The password is required</ion-label>
              </p>

            </div>
            <div padding>
              <ion-button size="medium" type="submit" expand="block" [disabled]="isSubmitting || loginForm.invalid">Login</ion-button>
              <!-- <ion-button (click)="login()" expand="block">Login</ion-button> -->
            </div>
            
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

  </div>

  <div class="content__loading">
    <div class="loading__wrapper">
      <ion-spinner class="loading" name="bubbles"></ion-spinner>
    </div>
  </div>

</ion-content>
